* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
    --background-header: #F2B6B6;
    --text-color: #594442;
    --header-hover: rgba(255, 255, 255, 0.5);
    --background-color: rgba(242, 209, 201, 0.6);
}
body {
    
    background: var(--background-color);
}
/*Cabeçalho ou heading*/
header {
    background-color: var(--background-header);
    color: var(--text-color);
    border-radius: 2px;
    font-size: large;
    font-family: 'EB Garamond',serif;
}
#heading {
    text-align: center;
    padding: 18px;
  }

#heading ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#heading li {
    display: inline;
    margin-right: 20px;
}
#heading a{
    text-decoration: none;
    color: var(--text-color);
}
ul li a{
    padding: 18px 4px;
    transition: background 0.2s;
}
ul li a:hover {
    background-color: var(--header-hover);
    border-radius: 3px;
}

#title-menu {
    padding-top: 48px;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: xx-large;
    color: var(--text-color);
}

#subtitle-menu {
    padding: 24px;
    text-align: center;
    font-family: 'EB Garamond',serif;
    font-size: x-large ;
    color: var(--text-color);
}
.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid #000; */
}
.text{
    font-family: 'EB Garamond',serif;
    color: ;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.5rem;
}


/* @media (max-width: 768px){
    #heading ul{
        display: none;
    }
    #heading ul.show-menu {
        display: ;
    }
} */