body * {
    font-family: 'EB Garamond',serif;
}
header {
    background-color: #333;
    color: #fff;
}
#heading {
    text-align: center;
    padding: 16px;
  }

#heading ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#heading li {
    display: inline;
    margin-right: 20px;
}
#heading a{
    text-decoration: none;
    color: #fff;
}

/* @media (max-width: 768px){
    #heading ul{
        display: none;
    }
    #heading ul.show-menu {
        display: ;
    }
} */